script.
      var _gaq=[['_setAccount','UA-44959535-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
script(type='text/javascript', src='/lib/jquery/jquery.js')
//- script(type='text/javascript', src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
script(type='text/javascript', src='/lib/underscore/underscore-min.js')

//Bootstrap
script(type='text/javascript', src='/lib/bootstrap/dist/js/bootstrap.js')

//AngularJS
script(type='text/javascript', src='https://code.angularjs.org/1.5.6/angular.js')
script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js')
script(type='text/javascript', src='https://code.angularjs.org/1.5.6/angular-route.js')
script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js')
script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js')
script(type='text/javascript', src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js')
script(type='text/javascript', src='https://code.angularjs.org/1.1.5/angular-resource.js')
script(type='text/javascript', src='https://code.angularjs.org/1.1.5/angular-cookies.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.2/angular-sanitize.js')


//MAterialize
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js')
script(type='text/javascript', src='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.3/angular-material.js')

//AngularJS
script(type="text/javascript" src="/lib/checklist-model/checklist-model.js")

//Angular UI
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap-tpls.js')
script(type='text/javascript', src='/lib/angular-ui-utils/modules/route/route.js')
script(type='text/javascript', src='/lib/momentjs/moment.js')
script(type='text/javascript', src='https://cdn.jsdelivr.net/angular.moment/1.0.1/angular-moment.min.js')


//Application Init
script(type='text/javascript', src='/js/init.js')
script(type='text/javascript', src='/js/app.js')
script(type='text/javascript', src='/js/directives.js')
script(type='text/javascript', src='/js/filters.js')

//Application Services
script(type='text/javascript', src='/js/services/global.js')
script(type='text/javascript', src='/js/services/socket.js')
script(type='text/javascript', src='/js/services/game.js')
script(type='text/javascript', src='/js/services/modal.js')

//Application Controllers
script(type='text/javascript', src='/js/controllers/index.js')
script(type='text/javascript', src='/js/controllers/header.js')
script(type='text/javascript', src='/js/controllers/game.js')
script(type='text/javascript', src='/js/controllers/navbar.js')
script(type='text/javascript', src='/js/controllers/dashboard.js')
script(type='text/javascript', src='/js/init.js')

//IntroJS
script(type='text/javascript', src='/js/intro.js')
script(type='text/javascript', src='/js/game_tour.js')

//Socket.io Client Library
script(type='text/javascript', src='/socket.io/socket.io.js')

//Livereload script rendered
//script(type='text/javascript', src='http://localhost:35729/livereload.js')
