 <div class="container body">
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Jiayou-cfh</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
       <li ><a href="#!/index">HOME</a></li>
       <li><a href="#!/charity">CHARITY</a></li>
       <li class="active"><a href="#!/aboutus">ABOUT US</a></li>
       <li><a href="#!/signin">SIGN IN</a></li>
       <li><a href="#!/signup">SIGN UP</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="row body-content">
  <div class="col-lg-12">
    <div class="col-lg-6">
     <h2 class="welcome">About Us</h2>
     <p> Team Jiayou is a group of D0 developers from Andela's class 22. This is our first simulations project, intended to upgrade the Cards of humanity project</p>


    </div>
     <div class="col-lg-6">
      <div class="play">
        <h3>Team Members</h3>
        <hr>
        <ul>
      <li><span>Akinrele Oluwasinmisola</span></li>
      <li><span>Babalola Rotimi</span></li>
      <li><span>Allen Chinazor</span></li>
      <li><span>Opara Febechukwu</span></li>
      <li><span>Ojuri Fisayomi</span></li>
      <li><span>Nwosu Akunna</span></li>
        </ul>

      </div>
    </div>
  </div>
</div>
<div class="navbar navbar-default navbar-fixed-bottom footer-bottom">
    <div class="container">
      <p class="navbar-text pull-left">© 2017 - Team Jiayou.

      </p>


    </div>
</div>
  </div>