<div class="bkg">
    <div class="container">
        <div ng-include="'/views/navbar.html'"> </div>
        <div class="row body-content">
            <div class="col-lg-12">
                <div class="col-lg-6">
                    <h2 class="welcome">About Us</h2>
                    <p> Team Jiayou is a group of D0 developers from Andela's class 22. This is our first simulations project, intended to upgrade the Cards of humanity project</p>
                </div>
                <div class="col-lg-6">
                    <div class="play">
                        <h3>Team Members</h3>
                        <hr>
                        <ul>
                            <li><span>Adebayo Oluwadamilola</span></li>
                            <li><span>Akinrele Oluwasinmisola</span></li>
                            <li><span>Akinrele Oluwasinmisola</span></li>
                            <li><span>Babalola Rotimi</span></li>
                            <li><span>Allen Chinazor</span></li>
                            <li><span>Opara Febechukwu</span></li>
                            <li><span>Ojuri Fisayomi</span></li>
                            <li><span>Nwosu Akunna</span></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'/views/footer.html'"> </div>