<!--<script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>-->
<div ng-controller="GameController">
  <div class=" light-blue darken-3 top-navbar">
    <div class="row valign-wrapper" style="min-height: 50px">
      <div class="col m8 valign">
        <div class="white-text" id="cfh-icon">CFH</div>
      </div>
           <div class="col m3">
          <div class="col m4"  >
            <i  data-activates='dropdown1' class="dropdown-button material-icons mdl-badge mdl-badge--overlap" data-badge="1">notifications_none</i>
            <!-- Dropdown Structure -->
            <ul id='dropdown1' class='dropdown-content'>
              <li class="head" ><label style="font-size: 15px">Notifications</label></li>
              <li ng-if="notifications.length < 1"><label style="font-size: 12px; color: lightblue">None</label></li>
              <li class= "tail" style="height: 1px" ng-repeat='notification in notifications track by $index' ><hr><label style="font-size: 12px;color: lightblue" ng-bind-html="notification">{{ notification }}</label></li>
            </ul>
          </div>
          <div class="col m8">
            <a class="chip red darken-3 white-text" ng-click="abandonGame()">Abandon Game</a>
          </div>
      </div> 
      <div>
      </div>
    </div>
  </div>

  <div class="question-top  container">
    <div class="gameplay-container">
      <div class="row">
        <div class="col m9 s12">
          <div class="valign-wrapper question-top">
            <div id="axis" tabindex="1" class="valign preload">
              <div class="front card col m4" id="outer" ng-class="(game.state !== 'awaiting players') && (game.state !== 'game ended') && (game.state !== 'game dissolved') && (game.state !== 'waiting for czar to draw cards') || (cardDeckClicked) ? 'flipped': ''">
                <div class="inner">
                  <span ng-bind-html="game.curQuestion.text" ng-hide="game.state === 'game ended' || game.state ==='game dissolved' || game.state === 'awaiting players'"></span>
                </div>
                <div id="notifications" ng-if="game.notification" ng-animate="{enter:'animated fadeInLeft', leave:'animated fadeOut'}">{{game.notification}}</div>

              </div>
              <div class="back center-align draw-card" id="backface" ng-click="drawCard()" ng-class="(game.state !== 'awaiting players') && (game.state !== 'game ended') && (game.state !== 'game dissolved') && (game.state !== 'waiting for czar to draw cards') || cardDeckClicked ? 'flipped': ''">

                <div ng-show="game.state === 'waiting for czar to draw cards' && isCzar()" class="czar-click">
                  <h3>Click to draw the next question</h3>
                </div>

                <div ng-show="game.state === 'waiting for czar to draw cards' && !isCzar()" class="czar-click">
                  <h3>Wait for Czar to draw next question</h3>
                </div>
              </div>
            </div>
            <div class="questions valign col m8 s12">
              <question>
              </question>
            </div>
          </div>
          <div class="row">
            <answers></answers>
          </div>
        </div>
        <div class="col m3" id="player-timer">
          <timer></timer>

          <player></player>
          <div class="col m10">
              <ul style="position: absolute; z-index: 2; width: 250px; background-color: white" class="collapsible" data-collapsible="accordion">
                <li style="margin-left: 0; background-color: white">
                  <div class=" collapsible-header white-text z-depth-2 light-blue darken-3" ng-click="getEmail();getFriendsEmail()">Friends</div>
                  <div class="collapsible-body">
                  <input style="width: 150px" id="newFriend" type="text" list="emails" placeholder="Enter email to add friend"  />
                      <datalist id="emails" >
                                <option ng-repeat="email in emails"  value = "{{email}}" ></option>
                      </datalist>
                    <a id = "gg" class="btn-floating waves-effect light-blue darken-3" ng-click="addFriend();"><i class="material-icons">add</i></a>
                    <ul>
                      <li ng-repeat= "friend in friendList" > <a>{{friend}}</a> <button ng-click="sendInvite2(friend)" class="btn light-blue darken-3"> invite</button> <hr></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
            
        </div>
      </div>
    </div>
  </div>
  <div class="col m9 s12">
    <chat></chat>
  </div>
</div>
<script>
      
      $(document).ready(function(){
        $('.collapsible').collapsible({accordion: true, hover:true});
      });
            $('.dropdown-button').dropdown({
              inDuration: 300,
              outDuration: 100,
              constrain_width: true,
              hover: true,
              gutter: 0,
              belowOrigin: true,
              alignment: 'left'
            });
          $('.dropdown-button').dropdown('open');
          $('.dropdown-button').dropdown('close');
</script>
