<div ng-controller="GameController">
  <div class=" light-blue darken-3 top-navbar">
    <div class="row valign-wrapper" style="min-height: 50px">
      <div class="col m8 valign"> 
        <div class="white-text" style="font-size: 30px; font-family: ubuntu; padding-left: 70px">CFH</div>
      </div>
      <div class="col m4 right-align" style="padding-right: 70px" id='abandon-game-button' ng-click="abandonGame()"> 
          <a class="chip red darken-3"; style="color: white">Abandon Game</a>
      </div>
      <div>
      </div>
    </div>
  </div>

  <div class="container" style="padding-top: 10px;">
    

    <div class="gameplay-container ">
      <div class="row">
        <div class="col m9 s12">

            <div class="valign-wrapper" style="justify-content: center; margin-bottom: 20px; margin-top:10px">
              <div class="valign col m8 s12" style="margin-left: unset; margin-right: auto">
                <question></question>
              </div>
              <div class="card col m4"> CARD DECK</div>
            </div>
            <div class="row">
              <answers></answers>
            </div>

        </div>
        <div class="col m3" style="padding-left: 40px;">
          
                <timer></timer>
            
          <player></player>
        </div>
      </div>
    </div>
  </div>
  <div class="col m12 chat-container " id="chatContainer">
    <button class="btn-flat" style = "outline: none" id="openChatButton">
      <i class="material-icons">keyboard_arrow_up</i>
    </button>
    <div class="chat">
      <div class="chat-title">
        
      </div>
      <div class="messages">
        <div class="messages-content"></div>
      </div>
      <div class="message-box">
        <textarea type="text" class="message-input" placeholder="Type message..."></textarea>
        <button type="submit" class="message-submit">Send</button>
      </div>
    </div>
  </div>
</div>
</div>


<script>
  $("#openChatButton").click(function() {
    $("#chatContainer").toggleClass("activeChat");
  });
</script>