<div class="bkg">
    <div class="container">
        <div ng-include="'/views/navbar.html'"> </div>
        <div class="row body-content">
            <div class="col-lg-12">
                <div class="col-lg-6">
                    <h2 class="welcome">Charity</h2>
                    <p>"If you don't give back, no one will like you™" </p>
                    <p>We're quite sure you feel the same way, so we've integrated donation widgets (via <a href="http://www.crowdrise.com/cfhio/fundraiser/cards4humanity" target="_blank">crowdrise.com</a>), along with some not-so-subtle reminders throughout
                        the game to give you the opportunity to donate. If you're signed in when you donate, we'll even upgrade your account and place a crown on your avatar's head (to remind other players how much better you are than them). All donations
                        go to the Make-a-Wish Foundation and benefit children in need.</p>
                </div>
                <div class="col-lg-6">
                    <div class="donate">

                        <a href="http://www.crowdrise.com/cfhio/fundraiser/cards4humanity" id="crowdriseStaticLink-fundraiser-121142" title="Fundraising Websites on Crowdrise">Fundraising Websites - Crowdrise</a>
                        <script type="text/javascript" src="https://www.crowdrise.com/widgets/donate/fundraiser/121142/?callback=userDonationCb"></script>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>