<div class="col m12 chat-container " id="chatContainer">
    <button class="btn-flat" style = "outline: none" id="openChatButton">
      <i class="material-icons">keyboard_arrow_up</i>
    </button>
    <div class="chat">
      <div class="chat-title">
        
      </div>
      <div class="messages">
        <div id ="results"  style="padding-left: 10px; color: black" class="messages-content"></div>
      </div>
      <div class="message-box lead emoji-picker-container">
      <textarea id="text" class="message-input" data-emojiable="true" data-emoji-input="unicode" type="text" placeholder="Type message..."></textarea>
      <button id="post" class="message-submit">Send</button>
      </div>
    </div>
</div>
<script>
$("#openChatButton").click(function() {
  $("#chatContainer").toggleClass("activeChat");
});


</script>
<script type='text/javascript', src='/js/emoji.js'></script>
  