<div class=" light-blue darken-3 top-navbar">
    <div class="row valign-wrapper" style="min-height: 50px">
      <div class="col m8 valign">
        <div class="white-text" id="cfh-icon">CFH</div>
      </div>
      <div class="col m4 right-align" style="padding-right: 70px;" ng-controller="IndexController">
      <a class="darken-3 dashboard-menu" href="#!/">Home</a>
      <a class="darken-3 dashboard-menu" ng-click="startGameDash()">Start Game</a>
    </div>
      <div>
      </div>
    </div>
  </div>
<div class="container content">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s3"><a class="inactive" href="#!/game-log">Game Log</a></li>
            <li class="tab col s3"><a class="inactive" href="#!/leader-board">Leader Board</a></li>
            <li class="tab col s3 active"><a class="active" href="#!/donation-log">Donation Log</a></li>
        </ul>
    </div>
    <div class="row">
        <h1 class="gamelog-header">Donation Log</h1>
        <div class="col m12">
        </div>
        <div class="card-panel overflow">
            <table class="striped">
                <col width="70">
                <col width="70">
                <col width="10">
                <col width="90">
                <thead>
                    <tr>
                        <th data-field="id">Date <i class="material-icons">perm_contact_calendar</i></th>
                        <th data-field="name">Amount Donated <img class="iconize" src="img/money_icon.jpg" /></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="col s12 m12 l12">
                                13-02-2017</div>
                        </td>
                        
                        <td>
                            <div class="chip">$200.00</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="col s12 m12 l12">
                                13-02-2017</div>
                        </td>
                        
                        <td>
                            <div class="chip">$200.00</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="col s12 m12 l12">
                                13-02-2017</div>
                        </td>
                        
                        <td>
                            <div class="chip">$200.00</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="col s12 m12 l12">
                                13-02-2017</div>
                        </td>
                        
                        <td>
                            <div class="chip">$200.00</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="col s12 m12 l12">
                                13-02-2017</div>
                        </td>
                        
                        <td>
                            <div class="chip">$200.00</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="col s12 m12 l12">
                                13-02-2017</div>
                        </td>
                        
                        <td>
                            <div class="chip">$200.00</div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th data-field="id">Date <i class="material-icons">perm_contact_calendar</i></th>
                        <th data-field="name">Amount Donated <img class="iconize" src="img/money_icon.jpg" /></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<footer class="footer-bottom dashboard-footer">
    <div class="footer-copyright">
        <div class="container">
            <p class="navbar-text pull-left"> © 2017 - Team Jiayou. </p>
        </div>
    </div>
</footer>
</div>