<div ng-include="'/views/navbar.html'" class="dashboard-menu"> </div>
<div class="container content">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s3"><a class="inactive" href="#!/game-log">Game Log</a></li>
      <li class="tab col s3 active"><a class="active" href="#!/leader-board">Leader Board</a></li>
      <li class="tab col s3"><a class="inactive" href="#!/donation-log">Donation Log</a></li>
    </ul>
  </div>
  <div class="row">
    <h1 class="gamelog-header">Leader Board</h1>
    <div class="col m12">
    </div>
    <div class="card-panel">
      <table class="striped">
        <col width="70">
        <col width="70">
        <col width="10">
        <col width="90">
        <thead>
          <tr>
            <th data-field="rank">Rank <img src="img/SkillMedalGold.png" class="iconize" /></th>
            <th data-field="avatar">Avatar</th>
            <th data-field="user-details">User Details</th>
            <th data-field="games-won">Games Won</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="col s12 m12 l12">
                1st</div>
            </td>
            <td>
              <img src="img/chosen/E01.png" alt="User Avatar">
            </td>
            <td>
              <div class="chip">elahsoft</div>
              <div class="chip">febechukwu.opara@andela.com </div>
            </td>
            <td>
              <div class="chip blue-grey white-text"><img src="img/winner-icon.jpg" alt="Contact Person">5 Games Won</div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="col s12 m12 l12">
                2nd</div>
            </td>
            <td>
              <img src="img/chosen/E01.png" alt="User Avatar">
            </td>
            <td>
              <div class="chip">elahsoft</div>
              <div class="chip">febechukwu.opara@andela.com </div>
            </td>
            <td>
              <div class="chip blue-grey white-text"><img src="img/winner-icon.jpg" alt="Contact Person">5 Games Won</div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="col s12 m12 l12">
                3rd</div>
            </td>
            <td>
              <img src="img/chosen/E01.png" alt="User Avatar">
            </td>
            <td>
              <div class="chip">elahsoft</div>
              <div class="chip">febechukwu.opara@andela.com </div>
            </td>
            <td>
              <div class="chip blue-grey white-text"><img src="img/winner-icon.jpg" alt="Contact Person">5 Games Won</div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="col s12 m12 l12">
                4th</div>
            </td>
            <td>
              <img src="img/chosen/E01.png" alt="User Avatar">
            </td>
            <td>
              <div class="chip">elahsoft</div>
              <div class="chip">febechukwu.opara@andela.com </div>
            </td>
            <td>
              <div class="chip blue-grey white-text"><img src="img/winner-icon.jpg" alt="Contact Person">5 Games Won</div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="col s12 m12 l12">
                5th</div>
            </td>
            <td>
              <img src="img/chosen/E01.png" alt="User Avatar">
            </td>
            <td>
              <div class="chip">elahsoft</div>
              <div class="chip">febechukwu.opara@andela.com </div>
            </td>
            <td>
              <div class="chip blue-grey white-text"><img src="img/winner-icon.jpg" alt="Contact Person">5 Games Won</div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="col s12 m12 l12">
                6th</div>
            </td>
            <td>
              <img src="img/chosen/E01.png" alt="User Avatar">
            </td>
            <td>
              <div class="chip">elahsoft</div>
              <div class="chip">febechukwu.opara@andela.com </div>
            </td>
            <td>
              <div class="chip blue-grey white-text"><img src="img/winner-icon.jpg" alt="Contact Person">5 Games Won</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<footer class="footer-bottom dashboard-footer">
  <div class="footer-copyright">
    <div class="container">
      <p class="navbar-text pull-left"> © 2017 - Team Jiayou. </p>
    </div>
  </div>
</footer>
</div>