
<div = "card player-card">
<div ng-repeat="player in game.players" style="display: inline-block; position: relative; margin-bottom: 5px">
  <div ng-show="isPlayer($index)" style="background-image: url(../img/11.png); background-size: 15px; width: 15px; height: 15px; position: absolute; z-index: 100; top: 7px; right: 50px"></div>
  <div class="chip " style="width:250px;" ng-class="{isCzar: currentCzar($index)}">
    <img ng-src="{{player.avatar}}" alt="{{player.username | upperFirstLetter}}"/>
    <span style="display: inline-block;">{{player.username | upperFirstLetter}}</span>
     <!--<span id='the-czar'  ng-show="currentCzar($index)"></span>-->
    <span class="badge light-blue darken-3 white-text" style="margin-top: 5px;">{{player.points}}/{{game.pointLimit}}</span>
   
</div>
  </div>
</div>
</div>
  </div>
  