<!--<div id="player-container" ng-repeat="player in game.players" style="background-color:{{colors[player.color]}}">
  <div id ="above-czar-container">
    <div id="avatar_">
      <span ng-show="isPremium($index)">
        <img ng-src="img/king.png" id="king">
      </span>
      <img ng-src="{{player.avatar}}"/>
    </div>
    <div id="player-container-inner">
      <div id="player-name"><h4>{{player.username | upperFirstLetter}}</h4></div>
      <div id="player-score"><h2>{{player.points}}/{{game.pointLimit}}</h2></div>
      <div ng-show="isPlayer($index)" id="player-star">
        <img src="../img/11.png"/>
      </div>
    </div>
  </div>
  <div id="czar-container" ng-show="currentCzar($index)">
    <span id='the-czar'>CZAR</span>
  </div>
</div>
-->
<!--<div ng-repeat="player in game.players" style="width: 50px; height: 50px; display: inline-block; padding: 5px">-->

</div class = "row">
<div class = "col s12">
  <div ng-repeat="player in game.players" style="display: inline-block; position: relative">
  <div ng-show="isPlayer($index)" class ="player-chip"></div>
  <div class="chip">
    <img ng-src="{{player.avatar}}" alt="{{player.username | upperFirstLetter}}"/>
    <span style="display: inline-block;">{{player.username | upperFirstLetter}}</span>
    <span class="badge light-blue darken-3 white-text">{{player.points}}/{{game.pointLimit}}</span>
  </div>
</div>
</div>
  
  <!--<div class="player-container" style="position: relative">
    <div>
      <span ng-show="isPremium($index)">
        <img ng-src="img/king.png" id="king">
      </span>
      <img ng-src="{{player.avatar}}" style="height: 40px"/>
    </div>
    <span class="badge red white-text">{{player.username | upperFirstLetter}}</span>
      <div><h2>{{player.points}}/{{game.pointLimit}}</h2></div>
    <div ng-show="isPlayer($index)" id="player-star"
      style="background-image: url(../img/11.png); background-size: 20px; width: 20px; height: 20px; position: absolute; z-index: 100; top: -15px; right: -2px">
    </div>
  </div>-->
  <div id='the-czar' ng-show="currentCzar($index)"  style="background-image: url('../img/Czar.png'); background-size: 25px; height: 25px; width: 25px; position: absolute; z-index: 100; top: -2px; right: -8px"></div>
</div>

