<script>
</script>

<div class="flip3D">
  <div class="card smallest col s12 black white-text z-depth-5" id="question-flip" ng-class="(game.state === 'waiting for czar to draw cards') ? 'flipped': ''" ng-hide="game.state !== 'awaiting players'" ng-show="game.state === 'game ended' || game.state === 'game dissolved'">
    <div id="startGame" ng-show="game.state === 'awaiting players'">
      <div id="finding-players">
        <h2 class="center-align">Finding Players</h2>
      </div>
      <div class="row">
        <div class="col s4" id="player-count-container">
          <div class="col s12 center-align" id="player-count">{{game.players.length}} / 6 </div>
          <div class="col s12 center-align" id="the-word-players"> Players </div>
        </div>
        <div class="col s4 center-align" id="loading-container">
          <div class="preloader-wrapper medium active">
            <div class="spinner-layer spinner-blue">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
            <div class="spinner-layer spinner-red">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
            <div class="spinner-layer spinner-yellow">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
            <div class="spinner-layer spinner-green">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div id="start-game-container" ng-click="startGame()" class="center-align" ng-show="(game.playerIndex === 0 || game.joinOverride) && game.players.length >= game.playerMinLimit">
          <button class="btn light-blue darken-3" id='start-game-button'>
            Start Game with {{game.players.length}} players
          </button>
        </div>
      </div>
    </div>
    <!-- Game Over Stuff -->
    <div id="game-end-info">
      <div id="people-left-game-top" ng-show="game.state ==='game dissolved' && game.gameWinner === -1">
        <div class="game-end-headline">What the!? The game ended because too many people left! </div>
        Our sincere apologies.
      </div>
      <div ng-show="game.state === 'game ended' && game.gameWinner === game.playerIndex">
        <div class="game-end-headline">Congratulations! You won the game, {{game.players[game.playerIndex].username | upperFirstLetter}}!</div>We hope you feel special. If you'd like to share that special feeling with the world, consider donating to charity. Or just horde it all for
        youself.
      </div>
      <div ng-show="game.state === 'game ended' && game.gameWinner !== game.playerIndex">
        <div class="game-end-headline">Aw, shucks! {{game.players[game.gameWinner].username | upperFirstLetter }} won the game!</div>
        That makes you a loser, unfortunately.
      </div>
    </div>
  </div>

</div>