<div class="bkg" ng-controller="IndexController">
    <div class="container">
        <div ng-include="'/views/navbar.html'"> </div>
        <div class="row body-content">
            <div class="col-lg-12">
                <div class="col-lg-6 col-lg-offset-2">
                    <form class="" ng-submit="userSignUp()">
                        <h4 class="login">SIGN UP</h4>
                        <div class="form-group">
                            <label for="">Username</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Username" ng-model="credentials.username">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" ng-model="credentials.email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="credentials.password">
                        </div>
                        <div id="contain-avatars">
                            <ul ng-controller="IndexController" class="avatar-list">
                                <li ng-repeat="avatar in avatars" class="avatars ng-scope">
                                    <input name="avatar" type='radio' value="{{$index}}">
                                    <img ng-src="{{avatar}}">
                                    </input>
                                </li>
                            </ul>
                        </div>
                        <button type="submit" class="btn play-button center">Sign up</button>
                    </form>

                </div>
                <div class="navbar navbar-default navbar-fixed-bottom footer-bottom">
                    <div class="container">
                        <p class="navbar-text pull-left">© 2017 - Team Jiayou.</p>
                    </div>
                </div>
            </div>
        </div>
