<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="../css/signin.css">
</head>

<body>
  <div ng-include="'/views/navbar.html'"> </div>
  <main ng-controller="IndexController">
    <center>
      <div class="section"></div>
      <div class="alert alert-danger" role="alert" ng-show="errorMessage">
        <strong><span ng-bind="message"></span></strong>
      </div>
      <div class="section"></div>

      <h3 class="white-text text-lighten-2">SIGN UP</h3>
      <div class="section"></div>

      <div class="container">
        <div class="z-depth-1 grey lighten-4 row my-container" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

          <form class="col s12">
            <div class='row margin'>
              <div class='input-field col s12'>
                <i class='mdi-social-person-outline prefix'></i>
                <input class='validate' type='text' name='username' id='username' required='' aria-required='true'
                  ng-model='credentials.username'>
                  <label for='username' data-error='wrong' data-success='right'>Enter your username</label>
              </div>
            </div>

            <div class='row margin'>
              <div class='input-field col s12'>
                <i class='mdi-communication-email prefix'></i>
                <input id='email' type='email' class='validate' required='' aria-required='true'
                  ng-model='credentials.email'>
                  <label for='email' data-error='wrong' data-success='right' class='center-align'>Enter your email</label>
              </div>
            </div>

            <div class='row margin'>
              <div class='input-field col s12'>
                <i class='mdi-action-lock-outline prefix'></i>
                <input class='validate' id='password' type='password' required='' aria-required='true'
                  ng-model='credentials.password'>
                  <label for='password' data-error='wrong' data-success='right'>Enter your password</label>
              </div>
            </div>
            <br/>
            <h5 class='grey-text text-darken-1'>Choose an Avatar</h5>

            <div class="row">
              <div class="col s4 avatars ng-scope offset-s1" ng-repeat="avatar in avatars">
                <input name='avatar' type='radio' id='{{$index}}'>
                <label for='{{$index}}'></label>
                <img ng-src='{{avatar}}'>
                </input>
              </div>
            </div>
            <center>
              <div class='row'>
                <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect sb-button offset-s2'
                  type="submit" ng-click='userSignUp()'>SIGN UP</button>
              </div>
              <div class="input-field col s12">
                <h5 class="left medium-small">Already have an account? <a href="/#!/signin">Login</a></h5>
              </div>
            </center>
          </form>
        </div>
      </div>
    </center>
    <div class="section"></div>
  </main>

  <script src="https://use.fontawesome.com/55192ecfc9.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Ubuntu">
</body>
