<div ng-controller="GameTourController">
  <div class=" light-blue darken-3 top-navbar">
    <div class="row valign-wrapper" style="min-height: 50px">
      <div class="col m8 valign">
        <div class="white-text" id="cfh-icon">CFH</div>
      </div>
      <div class="col m4 right-align" style="padding-right: 70px" id='abandon-game-button' ng-click="abandonGame()">
        <a id="abandon-game" class="chip red darken-3 white-text">Abandon Game</a>
      </div>
      <div>
      </div>
    </div>
  </div>
  <div class="question-top container">
    <div class="gameplay-container">
      <div class="row">
        <div class="col m9 s12">
          <div class="valign-wrapper question-top">
            <div class="questions valign col m8 s12">
              <div class="card smallest col s12 black z-depth-5" id="question-conatiner">
                <span ng-bind-html-unsafe="game.curQuestion.text" ng-hide="game.state === 'game ended' || game.state ==='game dissolved' || game.state === 'awaiting players'"></span>
                <div id="notifications" ng-if="game.notification" ng-animate="{enter:'animated fadeInLeft', leave:'animated fadeOut'}">{{game.notification}}</div>
                <div id="startGame">
                  <div><span id="question" ng-show="showQuestion">Can you guess who amongst this people is not the president of the world ?
                  </span></div>
                  <div id="loading-container" ng-show="awaitingPlayers">
                    <div id="finding-players">
                      <h2 class="center-align">Finding Players</h2>
                    </div>
                    <div class="row">
                      <div class="col s4" id="player-count-container">
                        <div class="col s12 center-align" id="player-count">{{playerCount}}/ 12 </div>
                        <div class="col s12 center-align" id="the-word-players"> Players </div>
                      </div>
                      <div class="col s4 center-align" id="loading-container">
                        <div class="preloader-wrapper medium active">
                          <div class="spinner-layer spinner-blue">
                            <div class="circle-clipper left">
                              <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                              <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                              <div class="circle"></div>
                            </div>
                          </div>
                          <div class="spinner-layer spinner-red">
                            <div class="circle-clipper left">
                              <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                              <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                              <div class="circle"></div>
                            </div>
                          </div>
                          <div class="spinner-layer spinner-yellow">
                            <div class="circle-clipper left">
                              <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                              <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                              <div class="circle"></div>
                            </div>
                          </div>
                          <div class="spinner-layer spinner-green">
                            <div class="circle-clipper left">
                              <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                              <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                              <div class="circle"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div id="start-game-container" ng-click="startGame()" class="center-align" ng-show="showStartButton">
                      <button class="btn light-blue darken-3" id='start-game-button'>
            Start Game with 3 players
           </button>
                    </div>
                  </div>
                </div>
              </div>


            </div>
            <div class="card col m4"> CARD DECK</div>
          </div>
          <div class="row">
            <div ng-cloak id="cards-container">
              <div id="social-bar-container">
              </div>
              <div>
                <div id="cards" class='hand' ng-show="cards" style="background: url(img/bluewood.jpg)">
                  <span ng-show="winnerPicked()"></span>
                  <div ng-style="{'cursor':'pointer'}" class="card smallest" id='answers' ng-click="pickCard(card)">
                    <div class="the-card">
                      <span>Rotimi Bababola</span>
                      <span id='selection-number'>  </span>
                    </div>
                  </div>

                  <div ng-style="{'cursor':'pointer'}" class="card smallest" id='answers' ng-click="pickCard(card)">
                    <div class="the-card">
                      <span>Banwo Victor</span>
                      <span id='selection-number'>  </span>
                    </div>
                  </div>
                  <div ng-style="{'cursor':'pointer'}" class="card smallest" id='answers' ng-click="pickCard(card)">
                    <div class="the-card">
                      <span>Donald Trump</span>
                      <span id='selection-number'>  </span>
                    </div>
                  </div>
                  <div ng-style="{'cursor':'pointer'}" class="card smallest" id='answers' ng-click="pickCard(card)">
                    <div class="the-card">
                      <span>Opara Febe</span>
                      <span id='selection-number'>  </span>
                    </div>
                  </div>
                  <div ng-style="{'cursor':'pointer'}" class="card smallest" id='answers' ng-click="pickCard(card)">
                    <div class="the-card">
                      <span>Allen Chinazor</span>
                      <span id='selection-number'>  </span>
                    </div>
                  </div>
                </div>
                <span>
        <div id="answer" class="card smallest"  ng-show="answer"  id='table' style="background-color:lavenderblush">
        <div class ="the-card">
            <span >Donald Trump</span>
                <span id='selection-number'> 5 </span>
              </div>
            </div>
            </span>
            <div id="game-end-container" ng-show="gameEnd">
              <div id="inner-info-exit">
                <div class="game-end-answer-text" ng-show="game.state ==='game dissolved' && game.gameWinner === -1">
                  <h2>What would you like to do now?</h2>
                  You might consider donating to charity to atone for the horrifying answers you've submitted. Donating will also place a lovely crown on your avatar's head.
                </div>
                <div class="game-end-answer-text" ng-show="game.state === 'game ended' || game.gameWinner !== -1">
                  <h2>What would you like to do now?</h2>
                  Help yourself to another game or help a child in need? Donating will also place a lovely crown on your avatar's head.
                </div>
                <div id='inner-text-container'>
                  <a href='/#!/app'>
                    <div id="join-new-game" ng-click="game.joinGame('joinNewGame')">
                      Join a New Game
                    </div>
                  </a>
                  <a href='/'>
                    <div id="exit-match">
                      Return to Lobby
                    </div>
                  </a>
                </div>
              </div>
              <div id="charity-widget-container">
                <a href="http://www.crowdrise.com" id="crowdriseStaticLink-fundraiser-121142" title="Fundraising Websites on Crowdrise">Fundraising Websites - Crowdrise</a>
                <script type="text/javascript" src="https://www.crowdrise.com/widgets/donate/fundraiser/121142/?callback=userDonationCb"></script>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col m3" id="player-timer">
      <div id="inner-timer-container" style="text-align: center; font-size: 20px; ">
        <span id="timer-status-round" style="font-family: ubuntu"> Time Remaining</span>
        <div style="font-size: 35px; text-align: center; font-family: cookie Intellecta Design;">20</div>
      </div>
      <div="card player-card">
        <div id="player-container" style="display: inline-block; position: relative; margin-bottom: 5px">
          <div id="player-star" style="background-image: url(../img/11.png); background-size: 15px; width: 15px; height: 15px; position: absolute; z-index: 100; top: 7px; right: 50px"></div>
          <div id="the-czar" class="chip" style="width:250px; background-color:#424242">
            <img id="player-avatar" src="/img/chosen/N03.png" />
            <span style="display: inline-block; color:white;">Dingle Dangle</span>
            <span id="player-score" class="badge light-blue darken-3 white-text" style="margin-top: 5px;">{{playerScore}}/5</span>
          </div>
        </div>
        <div style="display: inline-block; position: relative; margin-bottom: 5px" ng-show="showOtherPlayers">
          <div class="chip" style="width:250px;">
            <img src="/img/chosen/N02.png" />
            <span style="display: inline-block;">The Spleen</span>
            <span class="badge light-blue darken-3 white-text" style="margin-top: 5px;">0/5</span>

          </div>
        </div>
        <div style="display: inline-block; position: relative; margin-bottom: 5px" ng-show="showOtherPlayers">
          <div class="chip" style="width:250px;">
            <img src="/img/chosen/N02.png" />
            <span style="display: inline-block;">Silver Bilster</span>
            <span class="badge light-blue darken-3 white-text" style="margin-top: 5px;">{{playerScore}}/5</span>

          </div>
        </div>
    </div>

  </div>
</div>
</div>
</div>
</div>
</div>
<div class="col m12 chat-container " id="chatContainer">
  <button class="btn-flat" style="outline: none" id="openChatButton">
      <i class="material-icons">keyboard_arrow_up</i>
    </button>
  <div class="chat">
    <div class="chat-title">

    </div>
    <div class="messages">
      <div class="messages-content"></div>
    </div>
    <div class="message-box">
      <textarea type="text" class="message-input" placeholder="Type message..."></textarea>
      <button type="submit" class="message-submit">Send</button>
    </div>
  </div>
</div>
</div>
</div>


<script>
  $("#openChatButton").click(function() {
    $("#chatContainer").toggleClass("activeChat");
  });
</script>