</script>
 <nav class ="light-blue darken-3">
      <div class ="container" ng-include="'/views/navbar.html'"></div>
    </nav>
<div class ="gamebkg blue-grey lighten-5" >
  <hr> 
 <div class = " " ng-controller="GameController">
   

 


 
  <!--<div class = "col s12 m8" id="gameplay-container">
    <div id="upper-gameplay-container">
      <div id="menu-timeremaining-container">
        
        <div id="timer-container">
          <timer></timer>
        </div>
      </div>
      <div >
        <question></question>
      </div>
    </div>
    <answers></answers>
  </div>
</div>-->
</div>

