!!! 5
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', xmlns:fb='https://www.facebook.com/2008/fbml', itemscope='itemscope', itemtype='http://schema.org/Product')
  include ../includes/head
  body(ng-app="mean", class="bkg", id="body")
    block content
    footer.footer-bottom#dashboard-footer
      div.footer-copyright
        div.container
          p.navbar-text#pull-left
            © 2017 - Team Jiayou.
    include ../includes/foot

